<div ng-init="c.index()">
  <h3>Superstars</h3>
  <div>
    <form name="playerForm">
      Name:type="text"->text type="email"->email <input type="text" name="name" ng-model="c.playerName" ng-minlength="4" required>
      <button ng-click="c.add()" ng-disabled="playerForm.$invalid">Add Player</button>
    </form>
    <div ng-messages="playerForm.name.$error">
      <p ng-message="minlength">at least 4 chars</p>
      <p ng-message="required">required</p>
      <p ng-message="required">required</p>
    </div>
  </div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="player in c.players">
          <td>{{ player.name }}</td>
          <td><button ng-click="c.remove($index)">Remove Player</button></td>
        </tr>
      </tbody>
    </table>

  </div>

</div>


