<div ng-init="c.index()">
  <h3>Squads</h3>
  <div>
    Name: <input type="text" ng-model="c.teamName">
    <button ng-click="c.add()">Add team</button>
  </div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>Team Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="team in c.teams track by $index">
          <td><a href="#/{{ team.name }}" ng-bind="team.name"></a></td>
          <td><button ng-click="c.remove($index)">Remove Team</button></td>
        </tr>
      </tbody>
    </table>

  </div>

</div>
